# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.nox/
dist/
build/
*.egg-info/
.pytest_cache/
htmlcov/
.ipynb_checkpoints/

# Deep Learning specific
# Trained models
*.h5
*.pth
*.pt
*.tf
*.onnx
*.pb
saved_models/
checkpoints/

# Datasets and data processing outputs
data/
datasets/
raw_data/
processed_data/
results/
logs/
tensorboard_logs/
runs/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Operating System files
.DS_Store
Thumbs.db